*{
    padding: 0;
    margin: 0;
}

body{
    padding: 250px;
    text-align: center;
}


a{
    text-decoration: none;
    color: #f06666;
    cursor: pointer;
}

a:hover{
    color: #fd3333;
}